<!doctype html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
</head>
<body>
<div class="d-flex justify-content-center h4">
  <nav class="navbar-expand navbar-light  w-100   d-flex justify-content-around  ">
    <div class=" navbar" id="navbarNavAltMarkup">
      <div class="navbar-nav py-1">

        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" >Guten Morgen</a>
        </li>

        <i class="bi bi-bell"> </i>
        <a class="nav-link text-light">Player</a>

      </div>
    </div>
  </nav>
</div>

</body>
</html>
