<!doctype html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>


<div class="d-flex justify-content-center h4">
  <nav class="navbar-expand navbar-light  w-100   d-flex justify-content-around position-absolute bottom-0 ">
    <div class=" navbar" id="navbarNavAltMarkup">
      <div class="navbar-nav py-1">
        <a class="nav-link text-light" routerLink="home">Home</a>
        <a class="nav-link text-light" routerLink="player">Player</a>
        <a class="nav-link text-light" routerLink="search">Search</a>
        <a class="nav-link text-light" routerLink="profile">Profile</a>
      </div>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
</body>
</html>

